body{
    background-color: indigo;
    color: lime;
}

header{
    font-family: "Chkra Petch",sans-serif;
}
section{
    background-color: rgb(171, 11, 240);
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
.texto{
    margin-right: 5%;
}