body{
    background-color: indigo;
    color: lime;
    font-family: "Kablammo", sans-serif;
}

header{
    font-family: "Eater", sans-serif;
    border-bottom: 20px;
    padding: 20px;
    font-size: 40px;
    color: aqua;
}
section{
    background-color: rgb(74, 10, 142);
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
.texto{
    margin-right: 5%;
}
.categoria-videos img{
    height: 200px;
    opacity: 0.5;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 30px solid yellowgreen;
}
.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 10x;
}
.lista{
    background-color: deeppink;
}